.cartBar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}
.cart{
    padding-top: .8rem;
    height: 4rem;
    text-align: center;
    position: fixed;
    bottom: .5rem;
}
.circle{
    width: 1.2rem;
    position: absolute;
    right: 0rem;
    top: 0;
    background-color: var(--color-cancel);
    border-radius: 50%;
    border: 1px solid var(--color-cancel);
}
.circle p{
    font-family: var(--font-secondary);
    font-weight: bold;
    line-height: 1.1rem;
    color: var(--color-white);
    font-size: .7rem;
}
.cart i{
    background-color: var(--color-primary);
    font-size: 2rem;
    color: var(--color-black);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px 5px var(--color-black);
}
.cart i:hover{
    background-color: var(--color-quaternary);
}
.cartHide{
    display: none;
}
.cartShow{
    display: block;
}