/* Mobile S */
.errorPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  gap: 2%;
  background-color: var(--color-primary);
  position: absolute;
  width: 100%;
  height: 100%;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  padding-left: 1rem;
  width: 15rem;
}
.text {
  text-align: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.text h3 {
  font-family: var(--font-primary);
  font-weight: 100;
  font-size: 1.8rem;
}
.text p {
  margin-top: -1rem;
  font-family: var(--font-secondary);
  font-size: 1rem;
}
.timer {
  color: var(--color-secondary);
  font-weight: bold;
}

/* Mobile M and L*/
@media (min-width: 375px) {
  .logo img {
    width: 15rem;
  }
  .text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .text h3 {
    font-size: 2rem;
  }
  .text p {
    font-size: 1rem;
  }
}
/* Tablet */
@media (min-width: 765px) {
  .logo img {
    width: 22rem;
  }
  .text h3 {
    font-size: 3rem;
  }
  .text p {
    font-size: 2rem;
  }
}
/* Laptop L */
@media (min-width: 1440px) {
  .logo img {
    width: 28rem;
  }
  .text h3 {
    font-size: 3rem;
  }
  .text p {
    font-size: 2rem;
  }
  .btn a {
    border-radius: 75px;
    font-size: 3rem;
  }
}
/* 4k screen */
@media (min-width: 2560px) {
  .logo img {
    width: 28rem;
  }
  .text h3 {
    font-size: 4rem;
  }
  .text p {
    margin-top: -3.5rem;
    font-size: 3rem;
  }
  .btn a {
    border-radius: 75px;
    font-size: 4rem;
  }
}
