/* Mobile S */
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    gap: 2%;
    background-color: var(--color-primary);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo img {
    padding-left: 1rem;
    width: 18rem;
  }
  .text {
    text-align: center;
    color: var(--color-white);
  }
  .text h3 {
    font-family: var(--font-primary);
    font-weight: 100;
    font-size: 1.8rem;
  }
  .text p {
    font-family: var(--font-secondary);
    font-size: 1rem;
  }
  .btn {
    text-align: center;
    margin: 2rem 0 4.5rem;
  }
  .btn a {
    font-family: var(--font-primary);
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-secondary);
    padding: 0.8rem 4rem;
    font-size: 1.1rem;
    border-radius: 25px;
  }
  .btn a:hover {
    background-color: #7a3e11c0;
  }
  /* Mobile M and L*/
  @media (min-width: 375px) {
    .home {
      justify-content: space-around;
    }
    .logo img {
      width: 21rem;
    }
    .text h3 {
      font-size: 2rem;
    }
    .text p {
      font-size: 1rem;
    }
    .btn a {
      border-radius: 75px;
      font-size: 1.5rem;
    }
  }
  /* Mobile M and L*/
  @media (min-width: 375px) and (min-height: 844px) {
    .home {
      justify-content: space-around;
    }
  }
  /* Tablet */
  @media (min-width: 765px) {
    .logo img {
      width: 28rem;
    }
    .text h3 {
      font-size: 3rem;
    }
    .text p {
      font-size: 2rem;
    }
    .btn a {
      border-radius: 75px;
      font-size: 2rem;
    }
  }
  /* Tablet */
  @media (min-width: 765px) and (min-height: 1368px) {
    .home {
      height: 85rem;
    }
    .logo img {
      width: 38rem;
    }
    .text h3 {
      font-size: 4rem;
    }
    .text p {
      font-size: 3rem;
    }
    .btn a {
      border-radius: 75px;
      font-size: 3rem;
    }
  }
  /* Laptop L */
  @media (min-width: 1440px) {
    .logo img {
      width: 28rem;
    }
    .text h3 {
      font-size: 3rem;
    }
    .text p {
      font-size: 2rem;
    }
    .btn a {
      border-radius: 75px;
      font-size: 3rem;
    }
  }
  /* 4k screen */
  @media (min-width: 2560px) {
    .logo img {
      width: 28rem;
    }
    .text h3 {
      font-size: 4rem;
    }
    .text p {
      font-size: 3rem;
    }
    .btn a {
      border-radius: 75px;
      font-size: 4rem;
    }
  }