.menu{
    z-index: -1;
    background-color: var(--color-black);
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 3.5rem;
    overflow-y: scroll;
}
.navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
}
.menu::-webkit-scrollbar{
    display: none;
}
.burgers h2, .fries h2, .drinks h2, .desserts h2{
    padding: .2rem 0rem;
    font-family: var(--font-handwriting);
    color: var(--color-quaternary);
    background-color: var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
    display: flex;
    justify-content: center;
}


/* Mobile M*/
@media (min-width: 375px) and (min-height: 425px){
    .burgers h2, .fries h2, .drinks h2, .desserts h2{
        padding: .5rem 0rem;
    }
    .menu{
        margin-top: 6rem;
    }
}

/* Mobile L*/
@media (min-width: 596px){
    .burgers h2, .fries h2, .drinks h2, .desserts h2{
        padding: 1rem 0rem;
    }
    .menu{
        margin-top: 5.6rem;
    }
}
@media (min-width: 596px) and (min-height: 425px){
    .menu{
        margin-top: 6.2rem;
    }
}


/* Laptop */
@media (min-width: 1024px){
    .menu{
        margin-top: 5.6rem;
    }
}
@media (min-width: 1024px) and (min-height: 425px){
    .menu{
        margin-top: 7.2rem;
    }
}

/* Laptop L */
@media (min-width: 1440px) and (min-height: 768px){
    .burgers h2, .fries h2, .drinks h2, .desserts h2{
        padding: 1rem 0rem;
        font-size: 2.5rem;
    }
    .menu{
        margin-top: 8.4rem;
    }
}
