.confirmRemove{
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
}
.bg_confirmRemove{
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_confirmRemove{
    border-radius: 5px 5px 5px 5px;
    width: 90%;
    height: 8rem;
    background-color: var(--color-black);
    border: 1px solid var(--color-primary);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: popUp;
    animation-duration: 0.5s;
}
.content_confirmRemove span {
    padding: .5rem .5rem 0rem .5rem;
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-primary);
}
.content_buttons{
    border-radius: 0px 0px 5px 5px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.content_buttons button{
    padding: .3rem 0rem;
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-top: 1px solid var(--color-primary);
}
button.button_cancel{
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
    border-right: 1px solid var(--color-primary);
}
button.button_remove{
    background-color: var(--color-cancel);
    color: var(--color-white);
    cursor: pointer;
}

button.button_cancel:hover{
    background-color: var(--color-gray);
}
button.button_remove:hover{
    background-color: #a72410;
}
.confirmRemoveOpen{
    display: block;
    animation-name: fadeIn;
    animation-duration: 1s;
    backdrop-filter: blur(2px);
}
.confirmRemoveHide{
    display: none;
    animation-name: fadeOut;
    animation-duration: 1s;
}
@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
        backdrop-filter: blur(2px);
    }
}
@keyframes fadeOut{
    0%{
        display: block;
        opacity: 1;
        backdrop-filter: blur(2px);
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes popUp{
    0%{
        transform: scale(0.1);
    }45%{
        transform: scale(1.1);
    }65%{
        transform: scale(0.9);
    }100%{
        transform: scale(1);
    }
}