.menuItens {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-gray);
  border-top: 1px solid var(--color-gray);
  padding: .8rem 0rem;
}
.item {
  list-style: none;
}
.item button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
button img{
  filter: invert();
  width: 1.2rem;
}


/* Mobile M*/
@media (min-width: 375px) and (min-height: 425px){
  button img{
    width: 1.5rem;
  }
}

/* Mobile L*/
@media (min-width: 596px){
  button img{
    display: none;
  }
  .item button::after{
    font-family: var(--font-handwriting);
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: bold;
  }
  .item:nth-of-type(1) button::after{
    content: 'Burgers';
  }
  .item:nth-of-type(2) button::after{
    content: 'Fries'
  }
  .item:nth-of-type(3) button::after{
    content: 'Drinks';
  }
  .item:nth-of-type(4) button::after{
    content: 'Desserts';
  }
}

/* Tablet*/
@media (min-width: 768px){
  .menuItens {
    padding: .6rem 0rem;
  }
  .item button::after{
    font-size: 1.5rem;
  }
}

/* Laptop */
@media (min-width: 1024px){
  .menuItens {
    padding: .8rem 0rem;
  }
}

/* Laptop L */
@media (min-width: 1440px) and (min-height: 768px){
  .item button::after{
    font-size: 2rem;
  }
}

