.menuItens {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 3.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2rem;
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-gray);
}
.itens {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.itens::-webkit-scrollbar{
  height: 6px;
}
.item {
  margin: 0.5rem 1.6rem;
  list-style: none;
}
.item button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: var(--font-secondary);
}
button img{
  filter: invert();
}
