.footer {
  position: fixed;
  z-index: 100001;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: var(--font-secondary);
  background-color: var(--color-black);
  color: var(--color-white);
  line-height: 1.4rem;
  font-size: 0.8rem;
}
.footer a span {
  vertical-align: middle;
  color: var(--color-quaternary);
}
a {
  text-decoration: none;
  color: var(--color-quaternary);
}
a:hover {
  color: var(--color-primary);
}

/* Mobile S*/
@media (min-width: 320px) {
  .footer {
    font-size: 1rem;
  }
}
