.search {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-black);
}
.search form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0rem;
}
.search label {
  width: 100%;
  border-radius: 25px;
  background-color: var(--color-gray);
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search i {
  margin-left: 1rem;
  text-align: center;
  color: var(--color-primary);
  font-size: 1rem;
  cursor: text;
}
.search input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 85%;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.2rem;
  color: var(--color-primary);
}
.show {
  animation: moveToDown 0.2s ease-in-out;
  transform: translateY(0);
}
.hide {
  animation: moveToUp 0.2s ease-in-out;
  transform: translateY(-5rem);
}

@keyframes moveToDown {
  0% {
    display: block;
    transform: translateY(-4rem);
    opacity: 0;
  }
  100% {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveToUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5rem);
  }
}

/* Mobile M*/
@media (min-width: 375px) and (min-height: 425px) {
  .search label {
    padding: 0.3rem 0;
  }
  .search i {
    font-size: 1.2rem;
  }
  .search input {
    font-size: 1.2rem;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .search label {
    padding: 0.3rem 0;
  }
  .search i {
    font-size: 1rem;
  }
  .search input {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) and (min-height: 425px) {
  .search {
    display: block;
    transform: translateY(0);
    z-index: 1;
    position: absolute;
    width: 30%;
    right: 0;
  }
  .search form {
    justify-content: flex-end;
  }
  .search label {
    width: 100%;
    padding: 0.3rem 0;
  }
  .search i {
    padding: 0rem 0.2rem;
    font-size: 1.1rem;
  }
  .search input {
    padding: 0rem 0.2rem;
    font-size: 1.1rem;
  }
}

/* Laptop L */
@media (min-width: 1440px) and (min-height: 425px) {
  .search {
    width: 30%;
  }
  .search label {
    width: 100%;
    padding: 0.3rem 0;
  }
  .search i {
    padding: 0rem 0.2rem;
    font-size: 1.1rem;
  }
  .search input {
    padding: 0rem 0.2rem;
    font-size: 1.1rem;
  }
}
@media (min-width: 1440px) and (min-height: 768px) {
  .search i {
    font-size: 1.5rem;
  }
  .search input {
    font-size: 1.5rem;
  }
}